**/.env
**/.direnv
**/*.cache
**/*.csv
**/*.db
**/*.png
**/*.pyc
**/*.yml
**/*.log
**/*.pickle
**/*.sqlite

config.yaml

Kometa/metadata-items

Plex/movies
Plex/shows
Plex/active_assets
Plex/active_assets*
Plex/assets*
**/Kometa-Images
**/Kometa-Images-Overlaid
**/assets
**/config
**/posters
**/current_posters
**/current_artwork
**/extracted-posters
**/extracted_posters
**/people_posters
**/venv
**/.venv
**/*-output.txt
**/status.txt

Other
*-*-*-*-*.txt
*-*-*-*-*-*.txt
*-*-*-*-*-*-*.txt