**/.env
**/.direnv
**/*.csv
**/*.png
**/*.yml

Plex/movies
**/config
**/posters
**/current_posters
**/extracted-posters
**/extracted_posters
**/people_posters
**/venv
**/.venv
**/*-output.txt

Other
Plex-Meta-Manager/current_artwork
