**/.env
**/.direnv
**/*.csv
**/*.png
**/*.pyc
**/*.yml
**/*.log

Plex/movies
**/assets
**/config
**/posters
**/current_posters
**/current_artwork
**/extracted-posters
**/extracted_posters
**/people_posters
**/venv
**/.venv
**/*-output.txt
**/status.txt

Other
*-*-*-*-*.txt
*-*-*-*-*-*.txt
*-*-*-*-*-*-*.txt