alive-progress==2.4.1
imdbpy
pathvalidate
PlexAPI
pre-commit
pyopenssl
python-dotenv
requests
ruamel.yaml
setuptools
tmdbapis
tmdbsimple
tmdbv3api
tvdb_v4_official
piexif
filetype
sqlalchemy<2.0
tabulate
validators
pillow

Flask
GitPython
num2words
retrying
ruff
