{% extends 'base.html' %}
{% block content %}
<h2>Connect to Plex</h2>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Base URL</label>
    <input type="text" name="base_url" class="form-control" placeholder="http://localhost:32400" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Token</label>
    <input type="text" name="token" class="form-control" placeholder="YOUR_PLEX_TOKEN" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Base Image Asset directory</label>
    <input type="text" name="asset_dir" class="form-control" placeholder="assets">
  </div>
  <button type="submit" class="btn btn-primary">Connect</button>
</form>
{% endblock %}
