<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ show_name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
<style>
        .navigation-link {
            cursor: pointer;
            font-size: 24px;
            user-select: none;
        }
        .highlighted {
            border: 4px solid blue; /* Highlight style */
        }
        .shaded {
            background: rgb(192, 192, 192); /* Highlight style */
            border: 2px solid blue; /* Highlight style */
        }
        .image-container img {
            width: 50%; /* Default image size */
            cursor: pointer; /* Change cursor on hover over images */
            transition: width 0.5s ease; /* Smooth transition for resizing */
        }
        #load{
            width:100%;
            height:100%;
            position:fixed;
            z-index:9999;
            background:url("/loader") no-repeat center center rgba(0,0,0,0.25)
        }
        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: red;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

        #myBtn:hover {
            background-color: #555;
        }
    </style>
    <script type="text/javascript">
        function doHighlight(imageElement, libraryName, categoryName, showName, filename) {
            fetch(`/active_images/${libraryName}/${categoryName}/${showName}`)
                .then(response => response.json())
                .then(data => {
                    if(data.status === 'success') {
                        // Highlight images that are in the saved list
                        document.querySelectorAll('.image-container img').forEach(img => {
                            if (Object.values(data.images)[0].includes(img.alt)) {
                                img.parentElement.classList.add('shaded')
                            } else {
                                img.parentElement.classList.remove('shaded')
                            }
                        });
                    }
                })
                .catch(error => console.error('Error copying the image:', error));
        }

        function copyAndHighlight(imageElement, libraryName, categoryName, showName, filename) {
            // Perform the copy operation
            fetch(`/copy_image/${libraryName}/${categoryName}/${showName}/${filename}`)
                .then(response => response.json())
                .then(data => {
                    if(data.status === 'success') {
                        // Highlight images that are in the saved list
                        document.querySelectorAll('.image-container img').forEach(img => {
                            if (Object.values(data.images)[0].includes(img.alt)) {
                                img.parentElement.classList.add('shaded')
                            } else {
                                img.parentElement.classList.remove('shaded')
                            }
                        });
                    }
                })
                .catch(error => console.error('Error copying the image:', error));
        }
    </script>
</head>
<body onload="setZoom()">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <div id="load"></div>
    <div id="contents" class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="{{ url_for('library', library_name=library_name) }}">{{ library_name }}</a></li>
          {% if category_name != 'NA' %}
          <li class="breadcrumb-item"><a href="{{ url_for('category', library_name=library_name, category_name=category_name) }}">{{ category_name }}</a></li>
          {% endif %}
          <li class="breadcrumb-item active" aria-current="page">{{ show_name }}</li>
        </ol>
    </nav>
    <h1 class="mt-5">{{ show_name }}</h1>

    <div class="row">
        <div class="col d-flex justify-content-between">
        <!-- Checkboxes to filter image types -->
            <div class="float-left">
                Show:
                <label><input type="checkbox" class="image-type-checkbox" value="item" checked> Posters</label>
                <label><input type="checkbox" class="image-type-checkbox" value="background" checked> Backgrounds</label>
                <label><input type="checkbox" class="image-type-checkbox" value="season" checked> Seasons</label>
                <label><input type="checkbox" class="image-type-checkbox" value="season_background" checked> Season Backgrounds</label>
                <label><input type="checkbox" class="image-type-checkbox" value="episode" checked> Episodes</label>
                <label><input type="checkbox" class="image-type-checkbox" value="episode_background" checked> Episode Backgrounds</label>
            </div>
            <div class="float-right">
                <!-- Slider for adjusting image scale -->
                <label for="imageScaleSlider">Zoom:</label>
                <input type="range" id="imageScaleSlider" min="10" max="100" value="50" class="slider"> <!-- Default value set to 50% -->
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col d-flex justify-content-between">
            {% if prev_show %}
            <a href="{{ url_for('show', library_name=library_name, category_name=category_name, show_name=prev_show) }}" class="btn btn-info float-left" role="button">Previous</a>
            {% else %}
            <a href="#" class="btn btn-info float-left disabled" role="button">Previous</a>
            {% endif %}
            {% if next_show %}
            <a href="{{ url_for('show', library_name=library_name, category_name=category_name, show_name=next_show) }}" class="btn btn-info float-right" role="button">Next</a>
            {% else %}
            <a href="#" class="btn btn-info float-right disabled" role="button">Next</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for image_info in images_info %}
        <div class="col-md-4 mb-4 p-4 text-center image-container" data-image-type="{{ image_info.type }}">
            <img src="{{ url_for('image', library_name=library_name, category_name=category_name, show_name=show_name, filename=image_info.name) }}"
                    alt="{{ image_info.name }}"
                    title="{{ image_info.name }}"
                    onclick='copyAndHighlight(this, "{{ library_name }}", "{{ category_name }}", "{{ show_name }}", "{{ image_info.name }}")'
                    onload='doHighlight(this, "{{ library_name }}", "{{ category_name }}", "{{ show_name }}", "{{ image_info.name }}")'>
            <p>{{ image_info.name }}<br />{{ image_info.width }} x {{ image_info.height }} px</p>
        </div>
        {% endfor %}

    </div>
</div>
<script type="text/javascript">
    document.onreadystatechange = function () {
        var state = document.readyState
        if (state == 'interactive') {
            document.getElementById('contents').style.visibility="hidden";
        } else if (state == 'complete') {
            var scaleValue = localStorage.getItem('scaleValue');

            document.getElementById('imageScaleSlider').value = scaleValue
            document.querySelectorAll('.image-container img').forEach(function(img) {
                img.style.width = scaleValue + '%';
            });

            var chks = document.querySelectorAll("input[class='image-type-checkbox']");
            for (let i = 0; i < chks.length; i++) {
                chks[i].checked = false;
                chks[i].parentElement.style.visibility="hidden";
            }

            var checkedTypes = JSON.parse(localStorage['checkedTypes'] || '{}');

            for (let i = 0; i < checkedTypes.length; i++) {
                console.log(checkedTypes[i]);
                document.querySelectorAll("input[type='checkbox'][value='"+ checkedTypes[i] + "']")[0].checked = true;
            }

            document.querySelectorAll('.image-container').forEach(function(container) {
                var type = container.getAttribute('data-image-type');
                document.querySelectorAll("input[type='checkbox'][value='"+ type + "']")[0].parentElement.style.visibility="visible";
                var checkedTypes = JSON.parse(localStorage['checkedTypes'] || '{}');
                var isEmpty = JSON.stringify(checkedTypes) === "{}";
                if (!isEmpty && checkedTypes.includes(type)) {
                    container.style.display = '';
                } else {
                    container.style.display = 'none';
                }
            });

            setTimeout(function(){
                document.getElementById('interactive');
                document.getElementById('load').style.visibility="hidden";
                document.getElementById('contents').style.visibility="visible";
            },1000);
        }
    }

    function setZoom() {
    }

    document.getElementById('imageScaleSlider').oninput = function() {
        var scaleValue = this.value;
        document.querySelectorAll('.image-container img').forEach(function(img) {
            img.style.width = scaleValue + '%';
            localStorage.setItem('scaleValue', scaleValue);
        });
    };

    document.querySelectorAll('.image-type-checkbox').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            var checkedTypes = Array.from(document.querySelectorAll('.image-type-checkbox:checked')).map(el => el.value);
            localStorage.setItem('checkedTypes', JSON.stringify(checkedTypes))
            document.querySelectorAll('.image-container').forEach(function(container) {
                var type = container.getAttribute('data-image-type');
                if (checkedTypes.includes(type)) {
                    container.style.display = '';
                } else {
                    container.style.display = 'none';
                }
            });
        });
    });

    // Get the button
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
</body>
</html>
